<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Inputs</title>
</head>
<body>
    <h1>All User Inputs</h1>

    {% for registration in waec_registrations %}
    <div>
        <h2>{{ registration.first_name }} {{ registration.last_name }}</h2>
        <p>Email: {{ registration.email }}</p>
        <p>Contact Number: {{ registration.contact_no }}</p>
        <p>Sex: {{ registration.sex }}</p>
        <p>Age: {{ registration.age }}</p>
        <p>Exam Name: {{ registration.exam_name }}</p>
        <p>Exam Venue: {{ registration.exam_venue }}</p>
    </div>
    <hr>
    {% endfor %}
</body>
</html>
